<br />
<footer class="footer">
  <div class="container">

    <div class="bd-footer-links">
      <div class="columns">
        <div class="column is-4">
          <h3 class="subtitle has-text-weight-bold">GIỚI THIỆU</h3>
          <p class="bd-footer-link">
           <strong>TRỤ SỞ CHÍNH:</strong> 1038 Quang Trung, P.8, Q.Gò Vấp, TP HCM
            <br /> <strong>EMAIL:</strong> cskh@gumac.vn
            <br /> <strong>HOT LINE :</strong> 18006013 - 0972.333.444 - 0868.996.699
            <br /> <strong>MÃ SỐ THUẾ:</strong> 0312676139 - NGÀY CẤP : 1/12/2014
            <br /> <strong>GIỜ LÀM VIỆC:</strong> 8:00 - 17:00 từ thứ 2 đến thứ 7 hàng tuần
            <br />
            <figure class="image">
              <img style="max-width: 70%;" src="https://gumac.vn/Content/Image/WebImage/logo_bocongthuong.png">
            </figure>
          </p>
        </div>


        <div class="column is-4">
          <h3 class="subtitle has-text-weight-bold">HỖ TRỢ</h3>
          <p class="bd-footer-link">
            <a href="/van-chuyen.html">
              Chính sách vận chuyển
            </a>
          </p>
          <p class="bd-footer-link">
            <a href="/huong-dan-mua-hang.html">
              Hướng dẫn mua sản phẩm
            </a>
          </p>
          <p class="bd-footer-link">
            <a href="/huong-dan-doi-hang.html">
              Hướng dẫn đổi sản phẩm
            </a>
          </p>
        </div>



        <div class="column is-4">
          <h3 class="subtitle has-text-weight-bold">LIÊN HỆ</h3>

          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/overview">
              Instagram: @alo123shop
            </a>
          </p>

          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/customize">
              Facebook: @dadsdasdada
            </a>
          </p>

          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/modifiers">
              Youtube: Đây là 1
            </a>
          </p>

        </div>

      </div>
    </div>

  </div>
</footer>