<a href="/{{ product.url }}">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
                <img src={{product.thumb | prepend: 'assets/uploads/'}} alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content has-text-centered">
                    <p class="title is-4">{{ product.title }}</p>
                    <p class="subtitle is-6">{{product.price}}</p>
                </div>
            </div>

            <div class="content">
                {{product.description}}
                <a>@bulmaio</a>.
            </div>
        </div>
    </div>
</a>